body {
    background-color: teal;
    display: flex;
    flex-direction: column;
    min-height: 120vh;
    font-family: "Comic Sans", sans-serif;
    font-size: 40px;
    color: rgb(5, 51, 51)
}

h1,
p {
    text-align: center;
}

img {
    max-width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
    height: 200px
}

.middle {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.left,
.right {
    flex: 0 0 200px;
}

.primary {
    height: 250px;
    font-size: medium;
}

.secondary {
    height: 300px;
    font-size: medium;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery div:nth-child(-n+3) {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.gallery div:nth-child(n+3) {
    flex-basis: 25%;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    ;
}

figure img {
    width: 150px;
    border: none;
    display: inline-block;
    height: 200px;
    text-align: center;
}

figcaption a {
    display: block;
}

footer {
    margin-top: auto;
    bottom: 0;
    height: 200px;
    background-image: url("images/shoes.jpg");
    background-repeat: repeat-x;
    text-align: center;
    text-shadow: 2px 2px white;
}

.bottom {
    bottom: 0;
}

form {
    width: 50%;
    margin: 3em auto;
}
label {
    display: block;
    font-weight: 500;
}
.form-input {
    border: 3px solid rgb(5, 51, 51);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 300;
    padding: 1em;
    margin-bottom: 1.5em;
    width: 100%;
}
.form-input:focus {
    outline: none;
    border: 4px solid rgb(5, 51, 51);
}
[type="submit"] {
    background: turquoise;
    color: teal;
    width: 50%;
    justify-items: center;
    font-size: 1.25em;
    font-weight: 500;
    border-radius: 8px;
    border: 0;
    padding: .25em;
}
[type="submit"]:hover,
[type="submit"]:focus {
    background: rgb(5, 51, 51);
}
textarea {
    resize: none;
}
.error {
    border-color: maroon;
}
.error-message {
    color: maroon;
    font-size: .75em;
    margin: -.5em 0 1em;
}