body {
    background-color: teal;
    display: flex;
    flex-direction: column;
    min-height: 120vh;
    font-family: "Comic Sans", sans-serif;
    font-size: 40px;
    color: rgb(5, 51, 51)
}
h1, p {
    text-align: center;
}
.top {
    float: left;
    margin: 100px;
    height: 200px
}
.primary {
    float: left;
    margin: 10px;
    height: 250px;
    font-size: medium;
}
.secondary {
    float: left;
    margin: 10px;
    height: 300px;
    font-size: medium;
}
figure img {
    width: 150px;
    border: none;
    display: block;
    height: 200px;
    text-align: center;
}
footer {
    margin-top: auto;
    bottom:0;
    height: 200px;
    background-image: url("images/shoes.jpg");
    background-repeat: repeat-x;
    text-align: center;
    text-shadow: 2px 2px white;
}
.bottom {
    bottom:0;
}